In [2]:
import pandas as pd

In [6]:
pd.read_csv('GSE115125_indrops_MouseTreg_MuscleSpleen_counts.txt.gz', sep=' ').head()

,MuscleTR_2,MuscleTR_3,MuscleTR_4,MuscleTR_5,MuscleTR_6,MuscleTR_7,MuscleTR_9,MuscleTR_10,MuscleTR_11,MuscleTR_12,...,MuscleTR_rep2_1025,MuscleTR_rep2_1026,MuscleTR_rep2_1027,MuscleTR_rep2_1028,MuscleTR_rep2_1029,MuscleTR_rep2_1031,MuscleTR_rep2_1032,MuscleTR_rep2_1035,MuscleTR_rep2_1037,MuscleTR_rep2_1038
Zglp1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vmn2r65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Gm10024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F630206G17Rik,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oog3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1]:
import scanpy as sc

In [2]:
sc.logging.print_versions()

scanpy==1.4 anndata==0.6.18 numpy==1.15.4 scipy==1.1.0 pandas==0.24.1 scikit-learn==0.20.1 statsmodels==0.9.0 python-igraph==0.7.1 louvain==0.6.1

In [3]:
adata = sc.read('GSE115125_indrops_MouseTreg_MuscleSpleen_counts.txt.gz', sep=' ').T

In [4]:
# 細胞
adata.obs.head()

Empty DataFrame
Columns: []
Index: [MuscleTR_2, MuscleTR_3, MuscleTR_4, MuscleTR_5, MuscleTR_6]

In [5]:
# 遺伝子
adata.var.head()

Empty DataFrame
Columns: []
Index: [Zglp1, Vmn2r65, Gm10024, F630206G17Rik, Oog3]

In [7]:
adata.write_loom("out.loom")

# プラナリアloomをscanpyで見る

データは[Planaria Single Cell Atlas website](https://shiny.mdc-berlin.de/psca/)。

### Getting data for the search

```
curl -O http://bimsbstatic.mdc-berlin.de/rajewsky/PSCA/all_sgete_4GU75.loom.gz
gzip -dc all_sgete_4GU75.loom.gz > Plass2018.dge.loom
```

In [1]:
import scanpy as sc

In [2]:
adata = sc.read('Plass2018.dge.loom')

In [3]:
adata

AnnData object with n_obs × n_vars = 19141 × 23663
    var: 'Accession', 'Chromosome', 'End', 'Start', 'Strand'
    layers: 'matrix', 'ambiguous', 'spliced', 'unspliced'

In [5]:
adata.X.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [7]:
adata.obs.head()

Empty DataFrame
Columns: []
Index: [all_sgete_4GU75:AAAATTACTTGGCx, all_sgete_4GU75:AAAAGGTTTACTTx, all_sgete_4GU75:AAAAGACTAGTGTx, all_sgete_4GU75:AAACCCTAACAGCx, all_sgete_4GU75:AAACATGATGCGAx]

In [8]:
adata.var.head()

                             Accession   Chromosome    End  Start Strand
dd_Smed_v6_3533_0    dd_Smed_v6_3533_0     C8098283   8268      1      +
dd_Smed_v6_57321_0  dd_Smed_v6_57321_0    scaffold1  59801  59365      -
dd_Smed_v6_28593_0  dd_Smed_v6_28593_0    scaffold1  72631  72210      -
dd_Smed_v6_15993_0  dd_Smed_v6_15993_0    scaffold1   7548   1207      +
dd_Smed_v6_3581_0    dd_Smed_v6_3581_0  scaffold100  31532  10259      -