In [2]:
import pandas as pd

In [6]:
pd.read_csv('GSE115125_indrops_MouseTreg_MuscleSpleen_counts.txt.gz', sep=' ').head()

,MuscleTR_2,MuscleTR_3,MuscleTR_4,MuscleTR_5,MuscleTR_6,MuscleTR_7,MuscleTR_9,MuscleTR_10,MuscleTR_11,MuscleTR_12,...,MuscleTR_rep2_1025,MuscleTR_rep2_1026,MuscleTR_rep2_1027,MuscleTR_rep2_1028,MuscleTR_rep2_1029,MuscleTR_rep2_1031,MuscleTR_rep2_1032,MuscleTR_rep2_1035,MuscleTR_rep2_1037,MuscleTR_rep2_1038
Zglp1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vmn2r65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Gm10024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F630206G17Rik,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Oog3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1]:
import scanpy as sc

In [2]:
sc.logging.print_versions()

scanpy==1.4 anndata==0.6.18 numpy==1.15.4 scipy==1.1.0 pandas==0.24.1 scikit-learn==0.20.1 statsmodels==0.9.0 python-igraph==0.7.1 louvain==0.6.1

In [3]:
adata = sc.read('GSE115125_indrops_MouseTreg_MuscleSpleen_counts.txt.gz', sep=' ').T

In [4]:
# 細胞
adata.obs.head()

Empty DataFrame
Columns: []
Index: [MuscleTR_2, MuscleTR_3, MuscleTR_4, MuscleTR_5, MuscleTR_6]

In [5]:
# 遺伝子
adata.var.head()

Empty DataFrame
Columns: []
Index: [Zglp1, Vmn2r65, Gm10024, F630206G17Rik, Oog3]

In [7]:
adata.write_loom("out.loom")